{#
/**
 * @file
 * Template for the Tags Element.
 */
#}
<div class="xml-form-elements-tags">
  {{ textfield | raw }}
  <input type="image" src="{{ image_path }}add.png" name="{{ add['#name'] }}" id="{{ add['#id'] }}" value="add">
  <div class="hidden-controls">
    {% if edit is iterable and edit['#children'] is defined %}
      {{ edit['#children'] }}
    {% endif %}
    {% if remove is iterable and remove['#children'] is defined %}
      {{ remove['#children'] }}
    {% endif %}
  </div>
  <div class="hidden-tags">
    {% for tag in tags %}
      <input type="hidden" name="{{ tag['#name'] }}" id="{{ tag['#id'] }}" class="form-tag" value="{{ tag['#value'] }}"/>
    {% endfor %}
  </div>
  <span class="tag-list">
    {% for tag in tags %}
      <span title="{{ tag['#value'] }}">
        <span class="edit-tag" onclick="jQuery('#{{ edit[tag['#hash']]['#id'] }}').trigger('mousedown'); return false;">{{ tag['#value'] }}</span>
        <span class="remove-tag" onclick="jQuery('#{{ remove[tag['#hash']]['#id'] }}').trigger('mousedown'); return false;"></span>
      </span>
    {% endfor %}
  </span>
</div>
